mixin icon(name,mod)
  - mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
    use(xlink:href="static/img/svg/symbol/sprite.svg#" + name)

mixin picMenuLink(link,title)
  li.pic-menu-list__item
    a.pic-menu-list__link(href= link)= title

mixin popularLink(link,title,country)
  li.popular-list__item
    a.popular-list__link(href= link)= title
    span.popular-list__country= country

mixin socialLink(link,title,icon)
  li.social-list__item
    a.social-list__link(href= link)= title
      +icon(icon)

mixin paymentType(icon)
  li.payment-type__item
    +icon(icon)

mixin footerNav(link,title)
  li.footer-nav__item
    a.footer-nav__link(href= link)= title

mixin productLineInfo(key,val)
  .product-line-info
    span.product-info-line__key= key
    span.product-info-line__val= val

mixin productSpecificationIcon(icon)
  li.product-specification-list__item
    +icon(icon)

mixin share(icon, link, text)
  .share-line
    +icon(icon)
    a(href= link)= text

mixin catalogSliderItem(index, value)
  .catalog-view__slider-item(data-thumb=`static/img/content/products/catalog/product${index}/product${value}.jpg`)
    img(data-lazy=`static/img/content/products/catalog/product${index}/product${value}.jpg`)

mixin tabsLink(dataShow,text)
  li.tabs-list__item(show-tab= dataShow)&attributes(attributes)
    span.tabs-list__text= text


mixin comapreTableTD(val)
  tr
    td= val