mixin icon(name,mod)
  - mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
    use(xlink:href="static/img/svg/symbol/sprite.svg#" + name)

mixin mainNavLink(title,dataHide)
  li.main-nav__item
    a.main-nav__link(href="javascript:void(0);" data-hide-menu= dataHide)= title

mixin submenuCategoryListItem(name,count)
  li.submenu-category-list__item
    a.submenu-list__link(href="javascript:void(0);")= name
    span.submenu-list__count= count

mixin picMenuLink(link,title)
  li.pic-menu-list__item
    a.pic-menu-list__link(href= link)= title

mixin popularLink(link,title,country)
  li.popular-list__item
    a.popular-list__link(href= link)= title
    span.popular-list__country= country

mixin socialLink(link,title,icon)
  li.social-list__item
    a.social-list__link(href= link)= title
      +icon(icon)

mixin paymentType(icon)
  li.payment-type__item
    +icon(icon)

mixin footerNav(link,title)
  li.footer-nav__item
    a.footer-nav__link(href= link)= title

mixin productLineInfo(key,val)
  .product-line-info
    span.product-info-line__key= key
    span.product-info-line__val= val

mixin productSpecificationIcon(icon)
  li.product-specification-list__item
    +icon(icon)

mixin share(icon, link, text)
  .share-line
    +icon(icon)
    a(href= link)= text

mixin catalogSliderItem(index, value)
  .catalog-view__slider-item(data-thumb=`static/img/content/products/catalog/product${index}/product${value}.jpg`)
    img(data-lazy=`static/img/content/products/catalog/product${index}/product${value}.jpg`)

mixin tabsLink(dataShow,text)
  li.tabs-list__item(show-tab= dataShow)&attributes(attributes)
    span.tabs-list__text= text


mixin comapreTableTD(val)
  tr
    td= val

mixin basketTR(img,title,price,count,totalPrice)
  tr
    td.basket-table__product
      img.basket-table__img(src=`static/img/content/products/basket/${img}`)
      a.basket-table__link(href="javascript:void(0);")= title
    td.basket-table__price
      span= price
        |  &#8381;
    td.basket-table__count
      .basket-count
        .basket-count__minus
          span -
        .basket-count__current
          input.g-input(type="text" value=`${count}`)
        .basket-count__plus
          span +
    td.basket-table__total
      span= totalPrice
        |  &#8381;
    td.basket-table__remove
      span

mixin sortVarLink(title)
  if(title === 'По популярности')
    .sort-variants__link.active
      span= title
  else
    .sort-variants__link
      span= title