mixin catalogViewItem(img, title, key, val, price, availability)
  .catalog-view__item
    .catalog-view__img
      img(src=`static/img/content/products/catalog/${img}`)
      span.g-btn.g-btn--border-black Быстрый просмотр
    .product-prev__content
      a.product-prev__title(href="javascript:void(0);")= title
      .product-line-info
        span.product-info-line__key= key
        span.product-info-line__val= val
      .product-prev__line-price
        span.product-price!= `${price} &#8381;`
        if(availability === 'Есть в наличии')
          .product-availability
            +icon('check')
            span Есть в наличии
        else
          .product-availability
            +icon('down')
            span Под заказ
    .product-btn
      a.g-btn.g-btn--border-black.g-btn--no-underline(href="javascript:void(0);") В корзину
  //- .catalog-view__item
  //-   .catalog-view__img
  //-     img(src=`static/img/content/products/catalog/${img}`)
  //-     span.g-btn.g-btn--border-black Быстрый просмотр
  //-   .product-prev__content
  //-     a.product-prev__title(href="javascript:void(0);")= title
  //-     .product-line-info
  //-       span.product-info-line__key= key
  //-       span.product-info-line__val= val
  //-     .product-prev__line-price
  //-       span.product-price!= `${price} &#8381;`
  //-       .product-availability
  //-         +icon('check')
  //-         span= available
  //-   .product-btn
  //-     a.g-btn.g-btn--border-black.g-btn--no-underline(href="javascript:void(0);") В корзину

section.catalog-result
  .container
    include catalog-sort
    .catalog-view
      +catalogViewItem('product2/product2.jpg',
      'Винный шкаф Ariston WKEs 553 GrandCry',
      'Торговая марка',
      'Liebherr (Germany)',
      '250 322',
      'Есть в наличии')

      +catalogViewItem('product3/product3.jpg',
      'Винный шкаф Ariston WKEs 553 GrandCry',
      'Торговая марка',
      'Liebherr (Germany)',
      '250 322')

      +catalogViewItem('product4/product4.jpg',
      'Винный шкаф Ariston WKEs 553 GrandCry',
      'Торговая марка',
      'Liebherr (Germany)',
      '250 322')

      +catalogViewItem('product1/product1.jpg',
      'Винный шкаф Liebherr WKEs 553 GrandCry',
      'Торговая марка',
      'Liebherr (Germany)',
      '274 150')

      +catalogViewItem('product3/product3.jpg',
      'Винный шкаф Ariston WKEs 553 GrandCry',
      'Торговая марка',
      'Liebherr (Germany)',
      '250 322',
      'Есть в наличии')

      +catalogViewItem('product4/product4.jpg',
      'Винный шкаф Ariston WKEs 553 GrandCry',
      'Торговая марка',
      'Liebherr (Germany)',
      '250 322')

      +catalogViewItem('product2/product2.jpg',
      'Винный шкаф Ariston WKEs 553 GrandCry',
      'Торговая марка',
      'Liebherr (Germany)',
      '250 322',
      'Есть в наличии')

      +catalogViewItem('product1/product1.jpg',
      'Винный шкаф Liebherr WKEs 553 GrandCry',
      'Торговая марка',
      'Liebherr (Germany)',
      '274 150')

      +catalogViewItem('product3/product3.jpg',
      'Винный шкаф Ariston WKEs 553 GrandCry',
      'Торговая марка',
      'Liebherr (Germany)',
      '250 322',
      'Есть в наличии')

      +catalogViewItem('product4/product4.jpg',
      'Винный шкаф Ariston WKEs 553 GrandCry',
      'Торговая марка',
      'Liebherr (Germany)',
      '250 322')


    .catalog-nav
      a.g-btn.g-btn--black.g-btn--no-underline(href="javascript:void(0);") Показать еще
      ul.catalog-pag
        li.catalog-pag__item
          a.catalog-pag__link.catalog-pag__link--arrows.catalog-pag__link--first
            +icon('double-left')
        li.catalog-pag__item
          a.catalog-pag__link.catalog-pag__link--arrows.catalog-pag__link--prev
            +icon('left')
        li.catalog-pag__item
          a.catalog-pag__link.active
            span 1
        li.catalog-pag__item
          a.catalog-pag__link
            span 2
        li.catalog-pag__item
          a.catalog-pag__link
            span 3
        li.catalog-pag__item
          a.catalog-pag__link
            span 4
        li.catalog-pag__item
          a.catalog-pag__link.catalog-pag__link--arrows.catalog-pag__link--first
            +icon('right')
        li.catalog-pag__item
          a.catalog-pag__link.catalog-pag__link--arrows.catalog-pag__link--prev
            +icon('double-right')
